<%- include('partials/head.ejs') %>
<%- include('partials/navigation.ejs') %>

<main>
    <h1>Katalog książek</h1>
    
    <form class="search-form" action="/books" method="GET">
        <input type="text" name="search" placeholder="Szukaj po tytule lub autorze..." value="<%= searchQuery %>">
        <button class="btn" type="submit">Szukaj</button>
    </form>

    <% if (books.length > 0) { %>
        <ul class="book-list">
            <% for (let book of books) { %>
                <li class="book-item">
                    <h3><%= book.title %></h3>
                    <p class="book-item__meta">Autor: <%= book.author %></p>
                    <p class="book-item__meta">Rok wydania: <%= book.year %></p>
                    <div class="book-item__actions">
                        <a href="/edit-book/<%= book._id %>" class="btn">Edytuj</a>
                        <form action="/delete-book" method="POST">
                            <input type="hidden" value="<%= book._id %>" name="bookId">
                            <button class="btn" type="submit">Usuń</button>
                        </form>
                    </div>
                </li>
            <% } %>
        </ul>
    <% } else { %>
        <p>Nie znaleziono żadnych książek. Spróbuj zmienić kryteria wyszukiwania lub <a href="/add-book">dodaj nową książkę</a>.</p>
    <% } %>
</main>

<%- include('partials/end.ejs') %>